*{
    box-sizing: border-box;
}

body{
    font-family: 'MontSerrat',sans-serif;
    margin: 0;
}

.main-header{
    width: 100%;
    background-color: #ffaadd;
    padding: 16px 16px;
}

.main-header > div{
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand{
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-style: italic;
    font-size: 22px;
} 

.main-nav{
    display: inline-block;
    text-align: right;
    width: calc(100% - 82px);
    vertical-align: middle;
}

.main-nav__items{
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item{
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a{
    color:#fff;
    font-weight: bold;
    text-decoration: none;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active{
    color: black;
    border-bottom: 4px solid white ;
}

.main-nav__item--cta a{
    color: #ffaadd;
    background-color: black;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active{
    color: black;
    background-color: white;
    border-bottom: none;
}

#bg-overview{
    background-image: url(../imgs/clothees-hero-bg.jpg);
    height: 550px;
    padding: 10px;
    background-size: cover;
    background-position:top;
}

.about h1{
    color: #ffaadd;
}

.about p{
    font-weight: 600;
}