*{
    box-sizing: border-box;
}

body{
    font-family: 'MontSerrat',sans-serif;
    margin: 0;
}

.main-header{
    width: 100%;
    background-color: #ffaadd;
    padding: 8px 16px;
}

.main-header > div{
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand{
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-style: italic;
    font-size: 22px;
} 